.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
**/.DS_Store
gf
main
*.exe
output/
manifest/output/
temp/
temp.yaml
log/
logs/
bin/fastapi*
bin/*.zip
**/config/config.yaml
**/resource/audio/*.mp3
**/resource/audio/*.mpga
**/resource/audio/*.wav
