.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
**/.DS_Store
gf
main
*.exe
*.bat
*.log
output/
manifest/output/
temp/
temp.yaml
log/*.log
resource/public/media/
resource/private/tmp/
resource/private/files/